DS_Store/
.DS_Store
*.DS_Store

.pyc
*.pyc
__pycache__
*__pycache__
__pycache__/

pycache
*pycache

.vscode
*.vscode

.vs_code
*.vs_code

.env
*.env

.pytest_cache
*.pytest_cache

sandbox/
*sandbox/

venv/
*venv/

venv
.venv
*.venv

desktop.ini
